body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(28, 192, 221, 0.7);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

section {
    padding: 100px 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.social-icons {
    position: fixed;
    right: 12px;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons a img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

footer {
    background-color: rgba(226, 42, 42, 0.7);
    color: rgb(250, 247, 247);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
}